# Python
__pycache__/
**/__pycache__
*.py[cod]
*.pyo
*.egg-info/

# Virtual env
.venv/
venv/

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Data (volume mounted)
data/
*.db

# Environment
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docs
README.md
